@import url('../../node_modules/leaflet/dist/leaflet.css');

body {
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
}

input {
	height: 3vh;
	width: 100%;
}

button {
	height: 3vh;
	width: 100%;
}

.center1 {
	align-items: center;
	align-content: center;
	justify-content: center;
}

.flexible {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.space {
	gap: 2vh;
}

#map {
	flex: 4;
}

#panel {
	flex: 1;
	padding: 2%;
}

#bands {
	justify-content: space-between;
}

#title-panel {
	font-size: 3vh;
	font-weight: bold;
	margin-bottom: 5%;
}

.message {
	align-self: center;
	text-align: center;
}