@import url('../../node_modules/leaflet/dist/leaflet.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('../../node_modules/gridjs/dist//theme/mermaid.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('../../node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: small;
}

input {
	min-height: 3vh;
	width: 100%;
	color: black;
}

input[type=checkbox] {
	height: 2vh;
	width: 2vh;
	margin-right: 1vh;
}

button {
	min-height: 3vh;
	width: 100%;
	border-radius: 100vh;
	background-color: #1C2D24;
  color: white;
  border: 0;
}

button:disabled {
  background-color: transparent;
  color: #141F19;
  border: 1px solid #141F19;
}

button:enabled:hover {
  background-color: #384E40;
}

.center1 {
	align-items: center;
}

.fill-vertical {
	align-items: stretch;
}

.start {
	justify-content: flex-start;
}

.flexible {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.space {
	gap: 2vh;
}

.wide-space {
	justify-content: space-between;
}

.message {
	align-self: center;
	text-align: center;
}

.select-button {
	border-radius: 0;
	border: none !important
}

.select-button:enabled {
	background-color: #F9F5F0;
	color: #1C2D24;
}

.select-button:disabled {
	background-color: #1C2D24;
	color: #F9F5F0;
}

.select-button:enabled:hover {
	background-color: #f2eadf;
}

.button-parameter {
	background-color: #F9F5F0;
	color: #1C2D24;
}

.button-parameter:disabled {
  background-color: transparent;
  color: #F9F5F0;
  border: 1px solid #F9F5F0;
}

.button-parameter:enabled:hover {
	background-color: #f2eadf;
}

.fa-location-arrow {
	width: 100%;
}

.select-menu {
	color: black;
}

#menu {
	padding: 2vh;
	background-color: #1C2D24;
	color: #F9F5F0
}

#button-menu {
	gap: 0
}

#map {
	width: 75%;
}

#panel {
	width: 25%;
	padding: 3vh;
	background-color: #F9F5F0;
	overflow: auto;
}

#bands {
	justify-content: space-between;
}

#title-panel {
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 3%;
}

#floating {
	position: fixed;
	z-index: 99999;
	margin-top: 10vh;
	margin-left: 1.5vh;
}

#layers {
	padding: 2vh;
	background-color: white;
}

#drawing {
	padding: 2vh;
	background-color: white;
}

#basemap {
	gap: 0;
}

#cf-div {
	padding: 2vh;
	position: fixed;
	z-index: 9999999;
	max-width: 75vh;
	margin-left: 30%;
	background-color: white;
	align-self: center;
}